<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">
		<script>
			$(document).ready(function(){

				$('#btn_sair').click(function(){
					window.location.href = '/sair';
				});

				$('#btn_suditos').click(function(){
					$('#msg').hide();
							//renderiza a requisicão ser fazer o refresh
					$.ajax({
						url: './suditos', // dispara pra essa url.. mas sem refresh
						method: "get",
						success: function(data) {
							$('#acoes').html(data); // obtem um htm de retorno do ajax e coloca aqui
						}
					})
				});

				$('#btn_pergaminhos').click(function(){
					$('#msg').hide();

					$.ajax({
						url: './pergaminhos',
						method: "get",
						success: function(data){
							$('#acoes').html(data); //insere em #acoes

							clearTimeout(timerId); // limpa o setTimeout(pra nao duplicar a instrucao e dobrar a contagem do tempo a cada click)
							cronometro();
						}
					})
				});

			});

			var timerId = null;

			function cronometro(){

				$('.tempo_restante').each(function(){// pode receber uma func de callback que é executada em cada elemento do laço
					var tempo = $(this).html();  //this se refere ao elemento dentro do laço each -  e o pega de .tempo_restante
					var seg_atuais = parseInt(tempo) -1;

					if(seg_atuais < 0) {
						alert("A ação finalizou");
						window.location.href="/jogo?mensagem=C";
						
					} else {
						$(this).html(seg_atuais);

					}

				});
				timerId = setTimeout('cronometro()', 1000 ); // recebe uma funcao prim. parametro e no segundo o tempo
			}

		</script>

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
				</div>
			</div>
		</nav>

	    <div class="container">
				<% if(mensagem == 'A') { %>
					<div class="alert alert-danger" id="msg">
						<ul>
							<strong>Verifique os dados do formulario</strong>
						</ul>
					</div>
				<% } %>	    	
				<% if(mensagem == 'B') { %>
					<div class="alert alert-warning" id="msg">
						<ul>
							<strong>Ação realizada de boas</strong>
						</ul>
					</div>
				<% } %>	    	
				<% if(mensagem == 'C') { %>
					<div class="alert alert-warning" id="msg">
						<ul>
							<strong>A ação foi finalizada</strong>
						</ul>
					</div>
				<% } %>	    	
				<% if(mensagem == 'D') { %>
					<div class="alert alert-warning" id="msg">
						<ul>
							<strong>A ação foi Revogada</strong>
						</ul>
					</div>
				<% } %>	    	
			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/casa_<%=img_casa %>.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
							<span><%= jogo.temor %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria"/>
							<span><%= jogo.sabedoria %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio"/>
							<span><%= jogo.comercio %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia"/>
							<span><%= jogo.magia %></span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="acoes" id="acoes"> O que deseja fazer? </div>					
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-1">
					<img src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões" id="btn_suditos"/>
						<span><%= jogo.suditos %></span>
					</div>
					
					<div class="col-sm-1">
						<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos" id="btn_pergaminhos"/>
					</div>
					
					<div class="col-sm-8"></div>
					
					<div class="col-sm-2">
						<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda"/>
						<span><%= jogo.moeda %></span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>